.list-body{
    margin: auto;
    width: 450px;
    height:'auto';
    display:'grid';

    background-color: rgb(254, 255, 189);
    border-radius: 20px;
    padding: 10px;
}

.list-item{
    padding-inline: 15px;
    margin: 6px auto;
    border-radius: 20px;
    height: 40px;
    width: 400px;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: row;
    
    align-items: center;
    text-align: center;    

    background-color: rgb(254, 255, 223);
    box-shadow: 1px 1px 5px gray;
}

.list-item.pending{
    /* margin: 30px 10px 10px 10px; */

    /* width: auto;
    align-items: center; */
}

.list-item.done{
    /* margin: 15px 10px 30px 10px; */
    background-color: lightgray;
    text-decoration: line-through;
    /* width: auto;
    align-items: center; */
}


.list-item .description{
    width: 250px;
    height: 30px;
    margin-top:2px;
    margin-bottom:2px;

    font-size: 20px;
    color: rgb(59, 59, 59);

    text-align: left;
    overflow: hidden;
}

.hidden{
    display: none;
}

.visible{
    display: visible;
}

.item-checkbox{
    margin-left: 5px;
    margin-right: 25px;
}

.button-edit{
    align-self: right;
    margin: 5px;
    width: 25px;
    height: 25px;
}

.button-delete{
    align-self: right;
    margin: 5px;
    width: 25px;
    height: 60%;
    border-radius: 5px;
    /* background-color: rgba(211, 211, 211, 0.226); */
    display:flex;
}

.button-ready{
    background-color: rgb(0, 183, 255);
    align-self: right;
    margin: 5px;
    width: 25px;
    height: 25px;
}

.button-done{
    background-color: rgb(0, 183, 255);
    align-self: right;
    margin: 5px;
    width: 25px;
    height: 25px;
}



.enter-item-box{
    width: 80%;
    height: 35px;
    margin: 20px auto;
    align-items: center;
    
    border: 1px solid lightgray;
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
}
.task-input{
    width: 80%;
    height: 30px;
    border: 0px;
    background-color: rgba(254, 255, 189, 0);
    padding: 0px 10px;
}
.task-input-button{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

